@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl text-white md:text-6xl font-Montserrat;
    }

    h2 {
        @apply text-white text-3xl md:text-4xl font-Montserrat;
    }

    h3 {
        @apply text-white text-2xl md:text-3xl font-Montserrat;
    }

    h4 {
        @apply text-white text-lg md:text-xl font-Montserrat;
    }

    h5 {
        @apply text-white text-base font-Montserrat;
    }

    p {
        @apply text-white text-sm md:text-base;
    }
}

@layer components {
    .btn {
        @apply text-center inline-block rounded-3xl py-2 px-4 bg-CTA text-white font-Inter font-semibold text-sm md:px-6 md:text-base;
    }

    .btn-sec {
        @apply text-center inline-block rounded-3xl py-2 px-4 bg-white text-CTA font-Inter font-semibold text-sm md:px-6 md:text-base;
    }

    .navBg{
        @apply bg-secondary border-b border-third;
    }

    .manfaat {
        @apply p-6 md:p-8 rounded-3xl;
        background-color: theme(colors.secondary);

    }

    .label{
        @apply inline-block text-center rounded-xl py-2 px-6 border-2 border-CTAsec text-CTAsec font-Inter font-semibold text-sm md:px-6;

    }

    .nav-link{
        @apply block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 hover:text-secondary md:text-gray-400 md:hover:text-white md:hover:bg-transparent md:p-0;
    }

    .input{
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-third focus:border-third block w-full p-2.5;
    }

    .pagination{
        @apply py-2 px-3 leading-tight text-gray-500 bg-secondary border border-third hover:bg-third hover:text-white;
    }

    .accordion{
        @apply flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-third hover:bg-third bg-secondary text-gray-900;
    }

    .accordion-isi{
        @apply p-5 font-Inter border border-b-0 border-third;
    }

    .swiper-navBtn{
        @apply font-bold text-CTA hover:text-CTAsec transition-colors ease-in-out duration-300;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after{
        font-size: 35px;
    }

    .swiper-pagination-bullet{
        @apply bg-CTAsec;
        opacity: 1;
      }
    
    .swiper-pagination-bullet-active{
        @apply bg-CTA;
    }
}

@layer utilities {
    .border-t-1 {
        border-top-width: 1px;
    }

    .h-half {
        height: 50vh;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}